<%- include("partials/header") %>

    <h1>Home</h1>
    <p><%=homeStartingContent%></p>
    <% posts.forEach(post => { %>
        <h1> <%=post.title%> </h1>
        <p> <%= post.body.substring(0,250)+"..." %> <a href= "/<%= post.id %>">Read More</a> </p>
    <% }); %>
    


<%- include("partials/footer") %>


    <% function fn(text, count){ %>
    <%    return text.slice(0, count) + (text.length > count ? "..." : ""); %>
    <% } %>